/* form styles are imported from sales_form.css */

/* #form{
    width: 50%;
    margin: 100px auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1%;
}
#form input{
    width: 80%;
    margin: 10px 10%;
    height: 30px;
    font-size: 17px;
}
button{
    width: 40%;
    margin: auto 30%;
    height: 30px;
    border: none;
    background-color: rgb(36, 113, 255);
    color: white;
    font-size: 15px;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(0, 82, 235);
} */