#loginNav-right {
    width: 40%;
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
}

#loginNav-right i {
    margin: auto 25px;
}

#user {
    height: 30px;
    margin-left: 20px;
    cursor: pointer;
}

#dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
    border-radius: 5px;
}

#dropdown-menu div {
    display: flex;
}

#dropdown-menu div:hover {
    background-color: rgb(223, 223, 223);
}

#dropdown:hover #dropdown-menu {
    display: block;
}